body{
    color:white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blocks:hover{
    background-color: gray;
}

.containerTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.one{
    background-color: rgb(221, 221, 30);
    width:310px;
    height:310px;

}

.two{
    background-color: orange;
    width:310px;
    height:310px;

}

.three{
    background-color: red;
    width:310px;
    height:310px;

}

.four{
    background-color: green;
    width:310px;
    height:310px;

}

.five{
    background-color: blue;
    width:310px;
    height:310px;

}

.six{
    background-color: purple;
    width:310px;
    height:310px;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:45px;
}

hr{
    color: white;
}

.welcome{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 24px;

}